*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/google-services.json
/app/app-release.apk
/app/build.gradle
/app/build/
/.idea/vcs.xml
/app/src/main/java/com/miraclemessages/Constants.java